# Project Configuration
APP_NAME=Deckoid_ERP
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/Deckoid_ERP_System

# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=lead_management
DB_USERNAME=root
DB_PASSWORD=

# Security
APP_KEY=base64:yxbXe2wpVdpO4EtLHGIxbiW2Rrwz4OZq0Iw9V3Dwftk=
BCRYPT_ROUNDS=12

# System Preferences
SESSION_TIMEOUT=3600
TIMEZONE=Asia/Kolkata